.o-categoryList {
  background-color: #faf7f7;
  width: 409px;
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  padding-top: 150px;
  height: 100vh;
  gap: 50px;
  &__title {
    font-family: Rubik;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.18px;
    text-align: left;
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
