.a-heading {
  font-family: Rubik;
  font-size: 34px;
  font-weight: 500;
  line-height: 46.98px;
  text-align: left;
  margin-top: 109px;
  &--h1 {
    font-size: 54px;
    font-family: Righteous;
    line-height: 75px;
    font-weight: 700;
  }
}
