// Color Variables
$white: #ffffff;
$cyan: #04b1d9;

// z-index variables

// font-family variables
$fontset-en: proxima-nova, sans-serif;

// Font Size
$font-size-micro: 8px;
$font-size-semi-micro: 12px;
$font-size-tiny: 13px;
$font-size-small: 14px;
$font-size-semi-small: 15px;
$font-size-medium: 16px;
$font-size-semi-medium: 18px;
$font-size-large: 20px;
$font-size-semi-large: 24px;
$font-size-huge-large: 26px;
$font-size-semi-huge-large: 30px;
$font-size-semi-more-huge: 40px;
$font-size-more-huge: 45px;
$font-size-more-more-huge: 50px;
$font-size-extra-more-huge: 54px;

// Font weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Line heights
$line-height-oneline: 1;
$line-height-small: 1.3;
$line-height-medium: 1.5;
$line-height-large: 1.8;

$width-main-container: 1170px;
